body{
    background: #f5f5f5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(247, 247, 247));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,  rgb(247, 247, 247)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form{
    background-color: #b3e5fc;
    border-radius: 5px;
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    /* height: 600px; */
}

.form-body{
    text-align: left;
    padding: 20px 10px;
}

.form-body > *{
    padding: 5px;
}

.form__label{
    width: 40%;
}

.form_input{
    width: 60%;
}

.footer{
    text-align: center;
}

 .logo2 {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-left: 50px;
    margin-top: 20px;
    padding-bottom: 20px;

  }
  .logo2 >img{
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 60px ;
    
  }

  .logo2 >h2{
    font-size: 20px;
    color: #050404;
    margin-top: 10px;
    
  }
